Pki.eBusiness.WebApi.DataAccess/Service References/ShopCommerce/ShopCommerceService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://165.88.41.151:8091/ShopCommerceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Enums.AddressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Billing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Shipping">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.AddressType" nillable="true" type="tns:Enums.AddressType" />
  <xs:simpleType name="Enums.UserServicePartType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
      <xs:enumeration value="NonProprietary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.UserServicePartType" nillable="true" type="tns:Enums.UserServicePartType" />
  <xs:simpleType name="Enums.UserAccount">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dealer" />
      <xs:enumeration value="PunchOut" />
      <xs:enumeration value="SpecialPunchOut" />
      <xs:enumeration value="Regular" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enums.UserAccount" nillable="true" type="tns:Enums.UserAccount" />
</xs:schema>