Pki.eBusiness.WebApi.DataAccess/Service References/ShopCommerce/ShopCommerceService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://www.perkinelmergenetics.com" elementFormDefault="qualified" targetNamespace="http://www.perkinelmergenetics.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://165.88.41.151:8091/ShopCommerceService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://165.88.41.151:8091/ShopCommerceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.General" />
  <xs:import schemaLocation="http://165.88.41.151:8091/ShopCommerceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ShopUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveLanguage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillToAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Favorites" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="IsActiveUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDealer" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEcommerceCountry" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMultiplePOSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPromoCodeEnabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPunchOutSpecialUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPunchOutUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="LogonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MappingStatus" type="xs:int" />
          <xs:element minOccurs="0" name="PunchoutCompanyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RadPreference" type="xs:boolean" />
          <xs:element minOccurs="0" name="SalesAreaDistributionChannel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesAreaDivison" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalesAreaOrganization" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.General" minOccurs="0" name="ServicePartType" type="q2:Enums.UserServicePartType" />
          <xs:element minOccurs="0" name="ShipToAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalOrders" type="xs:int" />
          <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShopUser" nillable="true" type="tns:ShopUser" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.General" minOccurs="0" name="AddrType" type="q3:Enums.AddressType" />
          <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="CustomError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomError" nillable="true" type="tns:CustomError" />
  <xs:complexType name="SerialNumberValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstrumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMapped" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialNumberValidationResult" nillable="true" type="tns:SerialNumberValidationResult" />
</xs:schema>