_ServiceTestWebApplication/App_WebReferences/PKI/eBusiness/WMService/WebMethods4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities.Orders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55814/WebMethods.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderRequest" nillable="true" type="tns:OrderRequest" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="OrderRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities" base="q2:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderRequestDetail" nillable="true" type="tns:ArrayOfOrderRequestDetail" />
          <xs:element minOccurs="0" name="OrderRequestHeader" nillable="true" type="tns:OrderRequestHeader" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderRequest" nillable="true" type="tns:OrderRequest" />
  <xs:complexType name="ArrayOfOrderRequestDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderRequestDetail" nillable="true" type="tns:OrderRequestDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderRequestDetail" nillable="true" type="tns:ArrayOfOrderRequestDetail" />
  <xs:complexType name="OrderRequestDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities" base="q3:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilterPaperNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GiftWrapMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemPrice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderItemID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderItemSequence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrigFilterPaperNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderRequestDetail" nillable="true" type="tns:OrderRequestDetail" />
  <xs:complexType name="OrderRequestHeader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/PKI.eBusiness.WMService.Entities" base="q4:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AptSuite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HeardAboutUs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumOfChildren" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Questions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderRequestHeader" nillable="true" type="tns:OrderRequestHeader" />
</xs:schema>