Pki.eBusiness.WebApi.DataAccess/Service References/WMService/ProcessPediatrixOrder_WSD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://npsv04.perkinelmer.com/PKIPediatrix.flows" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="ProcessPediatrixOrder_WSD" targetNamespace="http://npsv04.perkinelmer.com/PKIPediatrix.flows" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://npsv04.perkinelmer.com/PKIPediatrix.flows">
      <xsd:element name="ProcessPediatrixOrder" type="tns:ProcessPediatrixOrder" />
      <xsd:element name="ProcessPediatrixOrderResponse" type="tns:ProcessPediatrixOrderResponse" />
      <xsd:complexType name="ProcessPediatrixOrder">
        <xsd:sequence>
          <xsd:element name="Pediatrix" nillable="true" type="tns:Pediatrix" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pediatrix">
        <xsd:sequence>
          <xsd:element name="OrderRequest" nillable="true" type="tns:OrderRequest" />
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string" use="required" />
        <xsd:attribute name="encoding" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:complexType name="OrderRequest">
        <xsd:sequence>
          <xsd:element name="OrderRequestHeader" nillable="true" type="tns:OrderRequestHeader" />
          <xsd:element maxOccurs="unbounded" name="OrderRequestDetail" nillable="true" type="tns:OrderRequestDetail" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderRequestHeader">
        <xsd:sequence>
          <xsd:element name="RequestDate" nillable="true" type="xsd:string" />
          <xsd:element name="RequestTime" nillable="true" type="xsd:string" />
          <xsd:element name="FirstName" nillable="true" type="xsd:string" />
          <xsd:element name="LastName" nillable="true" type="xsd:string" />
          <xsd:element name="Address" nillable="true" type="xsd:string" />
          <xsd:element name="AptSuite" nillable="true" type="xsd:string" />
          <xsd:element name="City" nillable="true" type="xsd:string" />
          <xsd:element name="State" nillable="true" type="xsd:string" />
          <xsd:element name="Zip" nillable="true" type="xsd:string" />
          <xsd:element name="Telephone" nillable="true" type="xsd:string" />
          <xsd:element name="Email" nillable="true" type="xsd:string" />
          <xsd:element name="NumOfChildren" nillable="true" type="xsd:string" />
          <xsd:element name="Questions" nillable="true" type="xsd:string" />
          <xsd:element name="HeardAboutUs" nillable="true" type="xsd:string" />
          <xsd:element name="RequestType" nillable="true" type="xsd:string" />
          <xsd:element name="OrderID" nillable="true" type="xsd:string" />
          <xsd:element name="shippingAddress" nillable="true" type="xsd:string" />
          <xsd:element name="shippingAptSuite" nillable="true" type="xsd:string" />
          <xsd:element name="shippingCity" nillable="true" type="xsd:string" />
          <xsd:element name="shippingState" nillable="true" type="xsd:string" />
          <xsd:element name="shippingZip" nillable="true" type="xsd:string" />
          <xsd:element name="cardholderName" nillable="true" type="xsd:string" />
          <xsd:element name="ccType" nillable="true" type="xsd:string" />
          <xsd:element name="ccExpDate" nillable="true" type="xsd:string" />
          <xsd:element name="ccAuthNum" nillable="true" type="xsd:string" />
          <xsd:element name="paypalRefNum" nillable="true" type="xsd:string" />
          <xsd:element name="areYouAViacordCustomer" nillable="true" type="xsd:string" />
          <xsd:element name="viacordAccountId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderRequestDetail">
        <xsd:sequence>
          <xsd:element name="OrderItemID" nillable="true" type="xsd:string" />
          <xsd:element name="OrderItemSequence" nillable="true" type="xsd:string" />
          <xsd:element name="ItemID" nillable="true" type="xsd:string" />
          <xsd:element name="ItemPrice" nillable="true" type="xsd:string" />
          <xsd:element name="FilterPaperNumber" nillable="true" type="xsd:string" />
          <xsd:element name="OrigFilterPaperNumber" nillable="true" type="xsd:string" />
          <xsd:element name="GiftWrapMessage" nillable="true" type="xsd:string" />
          <xsd:element name="Qty" nillable="true" type="xsd:string" />
          <xsd:element maxOccurs="unbounded" name="Patients" nillable="true" type="tns:Patients" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Patients">
        <xsd:sequence>
          <xsd:element name="FirstName" nillable="true" type="xsd:string" />
          <xsd:element name="LastName" nillable="true" type="xsd:string" />
          <xsd:element name="DOB" nillable="true" type="xsd:string" />
          <xsd:element name="KitNumber" nillable="true" type="xsd:string" />
          <xsd:element name="SampleType" nillable="true" type="xsd:string" />
          <xsd:element name="ProductName" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProcessPediatrixOrderResponse">
        <xsd:sequence>
          <xsd:element name="xmlResponse" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessPediatrixOrder_WSD_PortType_ProcessPediatrixOrder">
    <wsdl:part name="parameters" element="tns:ProcessPediatrixOrder" />
  </wsdl:message>
  <wsdl:message name="ProcessPediatrixOrder_WSD_PortType_ProcessPediatrixOrderResponse">
    <wsdl:part name="parameters" element="tns:ProcessPediatrixOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessPediatrixOrder_WSD_PortType">
    <wsdl:operation name="ProcessPediatrixOrder">
      <wsdl:input message="tns:ProcessPediatrixOrder_WSD_PortType_ProcessPediatrixOrder" />
      <wsdl:output message="tns:ProcessPediatrixOrder_WSD_PortType_ProcessPediatrixOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder" type="tns:ProcessPediatrixOrder_WSD_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessPediatrixOrder">
      <soap:operation soapAction="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder_ProcessPediatrixOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PKIPediatrix.flows.ProcessPediatrixOrder_WSD">
    <wsdl:port name="PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port" binding="tns:PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Binder">
      <soap:address location="http://prsv01.perkinelmer.com:5556/ws/PKIPediatrix.flows.ProcessPediatrixOrder_WSD/PKIPediatrix_flows_ProcessPediatrixOrder_WSD_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>