PKI.WebMethods.ServiceGateways/Service References/ShopCommerce/ShopCommerceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.Entities.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PKI.eBusiness.CSFramework.Entities.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://165.88.41.151:8091/ShopCommerceService.svc?xsd=xsd2" namespace="http://www.perkinelmergenetics.com" />
  <xs:complexType name="ShopCart">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.perkinelmergenetics.com" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartItems" nillable="true" type="tns:ArrayOfShopCartItem" />
          <xs:element name="CartUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsNewSession" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderFormName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShopCart" nillable="true" type="tns:ShopCart" />
  <xs:complexType name="ArrayOfShopCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopCartItem" nillable="true" type="tns:ShopCartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopCartItem" nillable="true" type="tns:ArrayOfShopCartItem" />
  <xs:complexType name="ShopCartItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.perkinelmergenetics.com" base="q2:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FieldLineItemTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProductDetails" nillable="true" type="tns:ShopProduct" />
          <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="ShipmentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShippingMethodId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingMethodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingPoint" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShopCartItem" nillable="true" type="tns:ShopCartItem" />
  <xs:complexType name="ShopProduct">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.perkinelmergenetics.com" base="q3:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BuyFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="Enrollmentid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCourse" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCrossSold" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRadUs" type="xs:boolean" />
          <xs:element minOccurs="0" name="LargeImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MappingStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCatalogId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductPageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequiresManualKitMapping" type="xs:boolean" />
          <xs:element minOccurs="0" name="ServicePartType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmallImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitSize" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WebProductType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShopProduct" nillable="true" type="tns:ShopProduct" />
  <xs:complexType name="LoginInfo">
    <xs:sequence>
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginInfo" nillable="true" type="tns:LoginInfo" />
  <xs:complexType name="CartInfo">
    <xs:sequence>
      <xs:element name="CartItems" nillable="true" type="tns:ArrayOfCartInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartInfo" nillable="true" type="tns:CartInfo" />
  <xs:complexType name="ArrayOfCartInfoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartInfoItem" nillable="true" type="tns:CartInfoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartInfoItem" nillable="true" type="tns:ArrayOfCartInfoItem" />
  <xs:complexType name="CartInfoItem">
    <xs:sequence>
      <xs:element name="CartId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClearanceCode" nillable="true" type="xs:string" />
      <xs:element name="ItemId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartInfoItem" nillable="true" type="tns:CartInfoItem" />
</xs:schema>