Pki.eBusiness.ErpApi.Entities/Settings/ERPRestSettings.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Pki.eBusiness.ErpApi.Entities.Settings" elementFormDefault="qualified" targetNamespace="Pki.eBusiness.ErpApi.Entities.Settings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="eRPRestSettings" type="tns:Pki.eBusiness.ErpApi.Entities.Settings.ERPRestSettingsCT" />
	<xs:complexType name="Pki.eBusiness.ErpApi.Entities.Settings.ERPRestSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="resources" type="tns:Pki.eBusiness.ErpApi.Entities.Settings.ResourcesCT">
				<xs:annotation>
					<xs:documentation>The Resources.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="apiKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ApiKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="baseUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BaseUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Pki.eBusiness.ErpApi.Entities.Settings.ResourceCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="method" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Pki.eBusiness.ErpApi.Entities.Settings.ResourcesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="resource" type="tns:Pki.eBusiness.ErpApi.Entities.Settings.ResourceCT">
				<xs:annotation>
					<xs:documentation>The Resource Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
